<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <!-- Ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link to Bootstrap CSS (assuming you are using Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(120deg, #a965f6 0%, #fda085 100%);
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-3">
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">VIEW</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/script') %>
    <!-- Link to Bootstrap JS and its dependencies (Popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
